# Provincias: consultas de agrupamientos

In [13]:
import pandas as pd
df = pd.read_csv('provincias.csv',sep=';')
df.head()

                autonomia   provincia  poblacion  superficie
0                 Galicia   La Coruña    1122799        7950
1                 Galicia        Lugo     336527        9856
2                 Galicia      Orense     314853        7273
3                 Galicia  Pontevedra     944346        4494
4  Principado de Asturias    Asturias    1042608       10603

## (38) ¿Cuántas provincias tiene cada comunidad autónoma?

In [27]:
a = df.groupby('autonomia').count()
a.head()

                 provincia  poblacion  superficie
autonomia
Andalucía                8          8           8
Aragón                   3          3           3
Canarias                 2          2           2
Cantabria                1          1           1
Castilla y León          9          9           9

In [49]:
a=dict(a)
for i in a: print(a[i],i,sep='\t')

8	Andalucía
3	Aragón
2	Canarias
1	Cantabria
9	Castilla y León
5	Castilla-La Mancha
4	Cataluña
1	Comunidad Foral de Navarra
3	Comunidad Valenciana
1	Comunidad de Madrid
2	Extremadura
4	Galicia
1	Islas Baleares
1	La Rioja
3	País Vasco
1	Principado de Asturias
1	Región de Murcia

## (39) Listado del número de provincias por autonomía ordenadas de más a menos provincias y por autonomía en caso de coincidir

In [89]:
a=dict(df.groupby('autonomia').count()['provincia'])
a=sorted(a.items(), key=lambda x: x[1], reverse=True)
for i in a: print(i[1],i[0],sep='\t')

9	Castilla y León
8	Andalucía
5	Castilla-La Mancha
4	Cataluña
4	Galicia
3	Aragón
3	Comunidad Valenciana
3	País Vasco
2	Canarias
2	Extremadura
1	Cantabria
1	Comunidad Foral de Navarra
1	Comunidad de Madrid
1	Islas Baleares
1	La Rioja
1	Principado de Asturias
1	Región de Murcia

## (40) ¿Cuántas provincias con nombre compuesto tiene cada comunidad autónoma?

In [96]:
df[ df['provincia'].str.contains(' ') ].groupby('autonomia').count()

                    provincia  poblacion  superficie
autonomia
Canarias                    2          2           2
Castilla-La Mancha          1          1           1
Galicia                     1          1           1
La Rioja                    1          1           1

In [101]:
a=dict(df[ df['provincia'].str.contains(' ') ].groupby('autonomia').count()['provincia'])
for i in a: print(a[i],i,sep='\t')

2	Canarias
1	Castilla-La Mancha
1	Galicia
1	La Rioja

## (41) Autonomías uniprovinciales

In [137]:
a=pd.DataFrame(df.groupby('autonomia').count()['provincia'])
a[ a['provincia']==1 ]

                            provincia
autonomia
Cantabria                           1
Comunidad Foral de Navarra          1
Comunidad de Madrid                 1
Islas Baleares                      1
La Rioja                            1
Principado de Asturias              1
Región de Murcia                    1

In [142]:
a=dict(df.groupby('autonomia').count()['provincia'])
for i in a:
    if a[i]==1:
        print(i)

Cantabria
Comunidad Foral de Navarra
Comunidad de Madrid
Islas Baleares
La Rioja
Principado de Asturias
Región de Murcia